<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>201010132880-0q1gl6k3tuhtsn7t1u7q68l90gthdums.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.201010132880-0q1gl6k3tuhtsn7t1u7q68l90gthdums</string>
	<key>API_KEY</key>
	<string>AIzaSyDAFhoTn_BTeyNPpw4FD7-_-6wiLut4Gog</string>
	<key>GCM_SENDER_ID</key>
	<string>201010132880</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.synapse.safewalk</string>
	<key>PROJECT_ID</key>
	<string>safewalk-a2a20</string>
	<key>STORAGE_BUCKET</key>
	<string>safewalk-a2a20.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:201010132880:ios:2e945b5c06a3b724592515</string>
</dict>
</plist>